.DS_Store
/dist
/node_modules/
/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

r.txt
build/env.js




yarn-error.log

/.vscode/


*.zip
*.rar
/src/config/index.js
scripts/scan/package-lock.json
scripts/scan/.sinopia-db.json
scripts/scan/index.js
scripts/scan/package.json
scripts/scan/README.md
scripts/README.md
src/config/index.js

node_modules
